h1{
  text-align:center;
  color:rgb(0, 0, 0);
  font-size:(48pt);
  font-family:Times
}
h2{
  text-align:left;
  color:rgb(0, 0, 0);
  font-size:(38pt);
  font-family:Times}
p{
  text-align:left;
  color:rgb(0, 0, 0);
  font-size:(38pt);
  font-family:Times}
}
